.smf-about-container {
    background-image:url("@{image-path}/about.png");
    width: 591px;
    height: 412px;
    background-repeat: no-repeat;
}

.smf-about-close {
    position: absolute;
    top: 13px;
    right: 17px;
    width: 17px;
    height: 17px;
    background-image: url("@{icon-path}/close.png");
    background-repeat: no-repeat;
}

.smf-about-content {
    margin-left: 45px;
    margin-right: 34px;
    margin-top: 38px;
    margin-bottom: 30px;
}

.smf-about-builtNo span {
    color: #A5A5A5;
    /*font-size: 8px;*/
}

.smf-about-logo {
    background-image: url("@{image-path}/logo.png");
    background-repeat: no-repeat;
    width: 213px;
    height: 38px;
}

.smf-about-builtNo {
    margin-bottom: 18px;
    margin-top: 13px;
}

.smf-about-break {
    margin-left: 0px;
    border-style: solid;
    border-color: #555555;
    border-width: 1px;
    height: 1px;
    border-top: none;
}
.smf-about-broughtBy {
    margin-top:30px;
}

.smf-about-broughtByHeader {
    color: #329FAA;
}

.smf-about-broughtByPersons {
    color: #A5A5A5;
}

.smartface-about .bk-header,  .smartface.about .bk-win-footer {
    display:none;
}

.smartface-about .vbox {
    padding: 0px 0px 0px 0px!important;
}

.smf-about-copyright {
    position: absolute;
    bottom: 30px;
    color: #A5A5A5;
}