<div class="smf-about-container">
    <div class="smf-about-content">
        <div class="smf-about-logo">&nbsp;</div>
        <div class="smf-about-builtNo">
            <span class="smf-about-builtNoLabel">Built No:&nbsp;</span>
            <span class="smf-about-builtNoValue">{1}</span>
        </div>
        <hr class="smf-about-break" />
        <div class="smf-about-broughtBy">
            <span class="smf-about-broughtByHeader">Smartface is brought to you by:</span>
            <p><span class="smf-about-broughtByPersons">
                {2}
            </span></p>
            <div class="smf-about-copyright">
                &copy; 2010 - 2015 Smartface Inc. All rights reserved
            </div>
        </div>
    </div>
    <div class="smf-about-close">&nbsp;</div>
</div>